@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.contairner {
  position: relative;
}

.card {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  border: solid 3px #cfb53b;
  border-radius: 20px;
  width: 450px;
  height: 600px;
  transform: translate(-50%, -50%);
}

.top-suit {
  font-size: 50px;
  color: red;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  font-weight: bold;
}

.bottom-suit {
  display: flex;
  justify-content: end;
  font-size: 50px;
  color: red;
}
